<!DOCTYPE html>
<html lang="en">
<head>
  <title>Categorie List</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="row">
  <div class="col-md-6">
    <p class="pull-right">
      <a href="{% url 'categorie_add'%}" class="btn btn-default">Add Categorie</a>
    </p>

  </div>
</div>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Label Name</th>
        <th>Created At</th>
      </tr>
    </thead>
    <tbody>
      {% for categorie_obj in categorie_list%}
      <tr>
        <td>{{categorie_obj.name}}</td>
        <td>{{categorie_obj.label_name}}</td>
        <td>{{categorie_obj.created_at}}</td>
      </tr>
      {% endfor%}
    </tbody>
  </table>
</div>

</body>
</html>
