{% block pagetitle %} {{page_title}} {% endblock %} {% block body %}


<div class="row">
  
                    <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
                    <div class="form-group">
                        {{ form.username }}
                        {{ form.username.errors }} 
                       <!--  <div class="row">
                        <div class="col-md-3">{{ form.username.label_tag }}
                        </div>
                        <div class="col-md-9">
                        
                        </div>
                        </div> -->
                    </div>
                    <div class="form-group">
                        {{ form.password }}
                        {{ form.password.errors }} 
                        <!-- <div class="row">
                        <div class="col-md-3">{{ form.password.label_tag }}
                        </div>
                        <div class="col-md-9">
                        
                        </div>
                        </div> -->
                    </div>

                    <div class="form-group" >
                        <p class="text-left"><button type="submit " class="btn btn-default btn-login"><i class="fa fa-sign-in"></i> Login</button>  </p> 
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-9"> 

                          </div>

                    </div>
                                          
                    </div>
                
                </form>

            </div>


        </div>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-12"></div>
    <!-- {% if messages %}
        <div class="row">
        <div class="col-md-offset-3 col-md-5">
        {% for message in messages %}
            <div class="bg-success bg-msg"> <i class="fa fa-info-circle"></i> {{ message }}</div>
        {% endfor %}
        </div>
        </div>
        {% endif %}
        {% if form.errors %}
        <div class="row">
        <div class="col-md-offset-3 col-md-5">
        <div class="bg-danger bg-msg"><i class="fa fa-warning-circle"></i> Your username and password didn't match. Please try again.</p>
        </div>
        </div>
        </div>
        {% endif %} -->
</div>



{%endblock%} {% block extracss %} 

<style type="text/css">
    .nav-bg{display: none}
    body{
        background: url("{{STATIC_URL}}/img/body-bg.jpg") no-repeat center;
        background-size: cover;
        overflow: hidden;
    }
    .form-login-style{
        position: relative;top:136px;left:-10px;
    }
    .footer{display: none;}
    .login-panel{background: url("{{STATIC_URL}}/img/middle-login.png")no-repeat center;height: 400px; margin: 0 auto;background-size: contain;}
   @media  (max-width: 768px) {
    .login-panel{background: none !important;}
    .form-login-style{
        position: relative;top:136px;left:10px;
    }
}
@media  (max-width: 1052px) {
    
    .form-login-style{
        position: relative;top:136px;left:54px;
    }
}
    .form-control{    border-radius: 0px;
    box-shadow: 0px 0px 6px #999 inset;
    border: 1px solid #ccc;height: 32px;
        width: 85%;}
    .btn-login{
        background:#009d4c;
        border-radius: 2px;
        box-shadow: 0px 0px 5px #999 inset;
        color: #fff;
        border:1px solid #009d4c;padding: 4px 6px;
        
    }
    html, body, header {
    height: 100%;
}
    .form-group {
    margin-bottom: 11px;
}
footer{background: #03643b;bottom: 0px; position: fixed; width: 100%; left: 0px;height: 28px; color: #fff;font-size: 11px;}
footer p{line-height: 28px;}
</style>
{%endblock%} {% block extrajs %}
<script type="text/javascript">
    function alert_cms_modal(msg_text){
            $('#cms_msg_modal_text').empty();
            $('#cms_msg_modal_text').append(msg_text);
            $('#cms_msg_modal').modal('show');
        }   
</script>
<script type="text/javascript">
        {% if messages %}
            {% for message in messages %}
                alert_cms_modal("{{ message |safe }}");
            {%endfor%}
        {%endif%}
    </script>
{%endblock%}
