{% extends "home.html" %}
{% block body %}
<body>
<div class="row">
  <div class="col-md-6">
    <p class="pull-right">
      <a href="{% url 'categorie_add'%}" class="btn btn-default">Add Categorie</a>
      <a href="{% url 'home'%}" class="btn btn-default">Close</a>
    </p>

  </div>
</div>

<div class="container">
  <table  width="80%">
    <thead>
      <tr>
        <th>Name</th>
        <th>Label Name</th>
        <th>Created At</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for categorie_obj in categorie_list%}
      <tr>
        <td>{{categorie_obj.name}}</td>
        <td>{{categorie_obj.label_name}}</td>
        <td>{{categorie_obj.created_at}}</td>
        <td><a href="{% url 'categorie_edit' categorie_obj.id %}" class="btn btn-default">Edit</a></td>
      </tr>
      {% endfor%}
    </tbody>
  </table>
</div>

</body>
{%endblock%}


