{% extends "home.html"%}
{% block body %}


<div class="row">
  <div class="col-md-6">
    <p class="pull-right">
      <a href="{% url 'product_add'%}" class="btn btn-default">Add Products</a>
      <a href="{% url 'home'%}" class="btn btn-default">Close</a>
    </p>

  </div>
</div>

<div class="container">
  <table width=80%>
    <thead>
      <tr>
        <th>Name</th>
        <th>Code</th>
        <th>Label Name</th>
        <th>Categorie Name</th>
        <th>Quantity</th>
        <th>Cost</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for product_obj in product_list%}
      <tr>
        <td>{{product_obj.name}}</td>
        <td>{{product_obj.code}}</td>
        <td>{{product_obj.label_name}}</td>
        <td>{{product_obj.products_categorie.name}}</td>
        <td>{{product_obj.quantity.name}}</td>
        <td>{{product_obj.price}}</td>
        <td><a href="{% url 'product_edit' product_obj.id %}" class="btn btn-default">Edit</a></td>
      </tr>
      {% endfor%}
    </tbody>
  </table>
</div>



{%endblock%}
        