{% extends "home.html" %}
{% block body %}
  
      <div class="container">
         <h5>
         ADD PRODUCT
         <h5>
         <form method="POST" enctype="multipart/form-data" class="fill-up" action="{% if product_obj %}{% url 'product_edit' product_obj.id %}{%else%}{% url 'product_add' %}{%endif%}">{% csrf_token %}
             <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
        <a href="{% url 'product_list'%}" class="btn btn-default">Cancel</a>
    </form>
         
      </div>
  
{%endblock%}