{% extends "home.html" %}
{% block body %}


<div class="row">
  <div class="col-md-6">
    <p class="pull-right">
      <a href="{% url 'quantity_add'%}" class="btn btn-default">Add Qunatity</a>
      <a href="{% url 'home'%}" class="btn btn-default">Close</a>
    </p>

  </div>
</div>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Label Name</th>
        <th>Code</th>
        <th>Created At</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for quantity_obj in quantity_list%}
      <tr>
        <td>{{quantity_obj.name}}</td>
        <td>{{quantity_obj.label_name}}</td>
        <td>{{quantity_obj.code}}</td>
        <td>{{quantity_obj.created_at}}</td>
        <td><a href="{% url 'quantity_edit' quantity_obj.id %}" class="btn btn-default">Edit</a></td>
      </tr>
      {% endfor%}
    </tbody>
  </table>
</div>



{%endblock%}


