{% extends "home.html" %}
{% block body %}

<div class="row">
  <div class="col-md-6">
    <p class="pull-right">
      <a href="{% url 'sales_add'%}" class="btn btn-default">SELL YOUR Product</a>
      <a href="{% url 'home'%}" class="btn btn-default">Close</a>
    </p>

  </div>
</div>

<div class="container">
  <table width="80%">
    <thead>
      <tr>
        <th>categorie</th>
        <th>products</th>
        <th>qunatity</th>
        <th>Saled Count</th>
        <th>Saled On</th>

      </tr>
    </thead>
    <tbody>
      {% for sales in daily_sales_obj%}
      <tr>
        <td>{{sales.categorie.name}}</td>
        <td>{{sales.products.name}}</td>
        <td>{{sales.qunatity.name}}</td>
        <td>{{sales.count}}</td>
        <td>{{sales.created_at}}</td>
      </tr>
      {% endfor%}
    </tbody>
  </table>
</div>

{%endblock%}
