<!DOCTYPE html>
<html lang="en">
<head>
  <title>ADD STOCK</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="row">
  <div class="col-md-6">
    <p class="pull-right">
      <a href="{% url 'stock_add'%}" class="btn btn-default">Add Stock</a>
      <a href="{% url 'home'%}" class="btn btn-default">Close</a>
    </p>

  </div>
</div>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>categorie</th>
        <th>products</th>
        <th>qunatity</th>
        <th>stock</th>
      </tr>
    </thead>
    <tbody>
      {% for stock in stock_obj%}
      <tr>
        <td>{{stock.categorie.name}}</td>
        <td>{{stock.products.name}}</td>
        <td>{{stock.qunatity.name}}</td>
        <td>{{stock.stock}}</td>
      </tr>
      {% endfor%}
    </tbody>
  </table>
</div>

</body>
</html>
