{% extends "home.html" %}
{% block body %}
  <div class="row">
  <div class="col-md-6">
    <p class="pull-right">
      <a href="{% url 'home'%}" class="btn btn-default">Close</a>
    </p>

  </div>
</div>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>categorie</th>
        <th>products</th>
        <th>qunatity</th>
        <th>stock</th>
      </tr>
    </thead>
    <tbody>
      {% for stock_objs in stock_deatils_list%}
      <tr>
        <td>{{stock_objs.categorie.name}}</td>
        <td>{{stock_objs.products.name}}</td>
        <td>{{stock_objs.qunatity.name}}</td>
        <td>{{stock_objs.opening_balance}}</td>
      </tr>
      {% endfor%}
    </tbody>
  </table>
</div>

{%endblock%}