{% extends "home.html" %}
{% block body %}

      <div class="container">
         <h5>
         ADD STOCK
         <h5>
         <form method="POST" enctype="multipart/form-data" class="fill-up" action="{% if stock_obj %}{% url 'stock_edit' stock_obj.id %}{%else%}{% url 'stock_add' %}{%endif%}">{% csrf_token %}
             <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
        <a href="{% url 'stock_list'%}" class="btn btn-default">Cancel</a>
    </form>
         
      </div>
   </body>
{%endblock%}