<!DOCTYPE html>
<html lang="en">
   <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   </head>
   <body>
     <div class="modal fade" id="alert_msg_modal" tabindex="-1" role="dialog" aria-labelledby="alertModelLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Message</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="alert_msg_modal_text"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

         <section style="position: relative;top:40px;left: 50px;">
            <div class="container">
                {% block body %} {% endblock %}
            </div>
           
        </section>

      
      <script type="text/javascript">
            
            function alert_msg_modal(msg_text){
                $('#alert_msg_modal_text').empty();
                $('#alert_msg_modal_text').append(msg_text);
                $('#alert_msg_modal').modal('show');
            }   
        </script>
        <script type="text/javascript">
            {% if messages %}
                {% for message in messages %}
                // {{message}}
                    alert_msg_modal("{{ message |safe }}");
                {%endfor%}
            {%endif%}
            
            
            $( '#topheader .navbar-nav a' ).on( 'click', function (e) {
              
            
                $( '#topheader .navbar-nav' ).find( 'li.active' ).removeClass( 'active' );
                $(this).parent('li').addClass('active');
            });
        </script>
   </body>
  
</html>

